* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 400;
  font-size: 1.6rem;
  color: #c5c6c7;
  background-color: #1f2833;
  min-height: 100vh;
  width: 100%;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 15rem;
  height: auto;
}

.logo-title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: 400;
}

#form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}

.form-input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.1rem solid #c5c6c7;
  width: 50%;
  font-size: 2.5rem;
  color: #c5c6c7;
  text-indent: 1rem;
  margin-bottom: 2rem;
}

.form-btn {
  width: 20%;
  background-color: transparent;
  border: solid 0.2rem #45a29e;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  color: #c5c6c7;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.form-btn:hover {
  background-color: #45a29e;
  color: #1f2833;
}

.form-btn:active {
  opacity: 0.5;
}

.loading-container {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 5rem;
  height: auto;
  display: none;
}

.output-container {
}

.output {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem 2.5rem;
}

.output-item {
  background: linear-gradient(to right bottom, #950740, #c3073f);
  border-radius: 0.3rem;
  padding: 1.2rem;
}

.output-title {
  font-size: 2.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #116466;
}

.output-text {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  color: #d1e8e2;
}

.output-link:link,
.output-link:visited {
  font-size: 1.7rem;
  color: #d1e8e2;
  transition: all 0.1s ease-in-out;
}

.output-link:hover {
  color: #116466;
}

/* javascript classes active */
.show {
  display: block;
}
/* javascript classes active */
